$bg-color: #1D1E20;
$second-hand-color: #D43223;
$min-hand-color: white;
$hour-hand-color: white;

body{
  background-color: $bg-color;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 8px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  position: absolute;
  top: 50%;
  transform-origin: right;
  transform: rotate(90deg);
  &.second-hand{
    background: $second-hand-color;
    height: 2px;
    width: 50%;
  }
  &.min-hand{
    background: $min-hand-color;
    height: 3.5px;
    width: 45%;
    left: 5%;
  }
  &.hour-hand{
    background: $hour-hand-color;
    height: 6px;
    width: 35%;
    left: 15%;
  }
}
